
#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 50%;
    height: 80vh;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #container-form > * {
    margin-bottom: 20px;
  }
  
  #container-form > :last-child {
    margin-bottom: 0;
  }

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input  {
    /* padding: 12px 13rem !important;  */
    /* width: 23rem; */
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 12px 12px !important; 
}
.css-xn6ruc > :not(style) {
    width: 30rem !important;
}
.css-q8hpuo-MuiFormControl-root {
  width: 480px !important;
}